body {
    font-family: Arial, sans-serif;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem;
    font-size: 16px;
    line-height: 1.6;
    background-color: #ffffff;
}

.project {
    margin-bottom: 2rem;
    padding: 2.5rem;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: #dadaed;
}

.project img {
    width: 100%;
    height: auto;
    max-width: 500px;
    display: block;
    margin-bottom: 1rem;
}

.project a {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px 16px;
    background-color: #333;
    color: #ddd;
    text-decoration: none;
    border-radius: 5px;
}

.project h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#hero {
    padding: 3rem 0;
    text-align: center;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#hero h2 {
    font-size: 2rem;
}

#hero h3 {
    font-size: 1.5rem;
}

#hero p {
    max-width: 800px;
    margin: 0 auto 1rem;
}

#documents a {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px 16px;
    background-color: #333;
    color: #ddd;
    text-decoration: none;
    border-radius: 6px;
}

@media (max-width: 600px) {
    body {
        padding: 1rem;
    }

    .project {
        padding: 1.5rem;
    }

    .project a,
    #documents a {
        display: block;
        width: fit-content;
        margin-bottom: 0.5rem;
    }

    #hero h1 {
        font-size: 1.5rem;
    }

    #hero h2 {
        font-size: 1.5rem;
    }

    #hero h3 {
        font-size: 1.2rem;
    }
}